{% extends 'base.html.twig' %}

{% block title %}404{% endblock %}

{% block style %}
	<link href="/css/404.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
	<div class="error">404</div>
	<br/><br/>
	<span class="info">File not found</span>
{% endblock %}