{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/css/mainstyle.css">
{% endblock %}

{% block body %}
    <div class="row index">
        <div class="col-12">
            <div class="wrapper">
                <div class="drop row">
                    <div class="cont col-12 col-md-7 col-lg-5">
                        <i class="fa fa-cloud-upload-alt mt-2"></i>
                        <div class="tit">
                            Drag & Drop
                        </div>
                        <div class="desc">
                            le dossier, ou
                        </div>
                        <div class="browse btn btn-primary py-1 px-5 my-3">
                            cliquez pour importer
                        </div>

                    </div>
                    <output id="listFile" class="col-12 col-md-5 col-lg-7 hidden">
                        <div class="row"></div>
                    </output>
                    <input type="file" id="msgFolder" webkitdirectory directory name="files"/>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <p class="col-12 display-4">En cours :</p>
                <p class="col-12 display-4 font-weight-bold text-center" id="currentMsgName">-</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            total messages : <span class="text-primary" id="totMsg"></span>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            La conversation dure depuis : <span class="text-primary" id="convSpan"></span>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            my msg : <span class="text-primary" id="myMsg"></span>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <ul class="list-group" id="participants-list">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Total
                    <span class="badge badge-primary badge-pill" id="totalMsg"></span>
                </li>
            </ul>
        </div>
        <canvas id="msgPerParticipantChart"></canvas>

        <canvas id="msgPerWeekDayChart"></canvas>

        <canvas id="msgPerMonthChart"></canvas>

        <canvas id="msgPerParticipantPerMonthChart"></canvas>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock %}